.MMM-Airly td:first-of-type {
  text-align: center;
}
.MMM-Airly td:not(:first-of-type) {
  text-align: left;
  padding-left: 5px;
}
.MMM-Airly td.light {
  font-size: 70%;
}
.MMM-Airly caption {
    text-align: center;
    opacity: 0.5;
}
